<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="daynight.daynnight">

    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icone"
        android:roundIcon="@drawable/icone"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.PleinEcran">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCkJvT6IguUIXVbBAe8-0l2vO1RWbxW4Tk" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateAccountActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameActivity"
            android:screenOrientation="sensorLandscape"
            android:hardwareAccelerated="true"/>
        <activity android:name=".ListeBadges" />
        <activity android:name=".Boutique" />
        <activity android:name=".Inventaire" />
        <activity
            android:name=".PopupInformationsObjet"
            android:theme="@style/AppTheme.PopupTheme" />
        <activity android:name=".PopupRecompenses"
            android:theme="@style/AppTheme.PopupRTheme" />
        <activity android:name=".PopupNouveauJoueur"
            android:theme="@style/AppTheme.PopupRTheme" />
        <activity android:name=".PopupPause"
            android:theme="@style/AppTheme.PopupRTheme"/>
        <activity android:name=".SettingsActivity"
            android:theme="@style/AppTheme.PopupTheme"
            android:configChanges="locale|orientation|keyboardHidden"
            android:noHistory="true"/>
    </application>
</manifest>